* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #c9d8d5;
    font-family: Arial, sans-serif;
    
}

.card {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.header {
    background: linear-gradient(135deg, #000000, #333333);
    padding: 30px 0;
}

.header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

.content {
    padding: 20px;
}

.content h2 {
    color: #16A784;
    margin-bottom: 5px;
}

.job {
    color: gray;
    margin-bottom: 15px;
}

.content p {
    margin: 6px 0;
}

.button {
    background-color: #3E70E4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.button:hover {
    background-color: #2f5cc0;
}
